<%- layout("/layouts/boilerplate") %>

<div class="row mt-3">
  <h2 class="col-6 offset-3 login-signup" id="title">Login</h2>
  <div class="col-6 offset-3">
    <form method="post" action="/login" class="needs-validation" novalidate>
      <div class="mb-3">
        <label for="username" class="form-label">username</label>
        <input
          type="text"
          name="username"
          autocomplete="off"
          placeholder="Enter username"
          class="form-control"
          id="username"
          required
        />
        <div class="invalid-feedback">enter username</div>
      </div>
      <div class="mb-3">
        <div class="password-container">
          <label for="password" class="form-label">password</label>
          <input
            type="password"
            name="password"
            placeholder="enter your password"
            class="form-control"
            id="password"
            required
          />
          <div class="invalid-feedback">enter your password</div>
          <i class="fa-regular fa-eye" id="togglePassword"></i>
        </div>
      </div>
      <div class="login-box">
        <div class="box1">
          <button class="btn btn-dark allbtn" type="submit">login</button>
          <span id="have-acnt"
            >new User?<a
              href="/signup"
              class="link-underline-primary link-underline-opacity-0-hover"
              >click here</a
            ></span
          >
        </div>
        <span id="have-acnt"
          >Forgot Password?<a
            href="/forgot-password"
            class="link-underline-primary link-underline-opacity-0-hover"
            >click here</a
          ></span
        >
      </div>
    </form>
  </div>
</div>
